<footer>
    <div class="container">
        <div class="row justify-content-center footer-first-div">
            <div class="col-xs-12 col-lg-4 footer-logo">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo.png" width="200" alt="footer logo">
                </a>
            </div>
            <div class="col-xs-12 col-lg-6 ">
                <p class="footer-text">Conectando o mundo, inspirando a mudança: notícias que revelam o poder feminino em todas as esferas da vida. Descubra histórias de mulheres pioneiras que estão moldando o futuro com políticas inovadoras, avanços tecnológicos, arte de vanguarda e conquistas no esporte.</p>
            </div>
        </div>
        <div class="row justify-content-center footer-second-div">
            <p id="footer">Criado por Squad Hedy Lamarr & Margaret Hamilton</p>
        </div>
    </div>
</footer>