<nav class="navbar navbar-expand-md justify-content-center navbar-light bg-light">
      <ul class="navbar-nav  navbar-third">
        <li class="nav-item">
          <a class="nav-link" href="/noticia/categoria/Economia">Economia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/noticia/categoria/Politica/">Política</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/noticia/categoria/Tecnologia">Tecnologia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/noticia/categoria/Cultura">Cultura</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/noticia/categoria/Esporte">Esportes</a>
        </li>
      </ul>
      
      <ul class="nav-about ">
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-about dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sobre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/sobre/">O Portal</a>
          <a class="dropdown-item" href="/quem_somos/">Quem somos</a>
        </div>
      </li>
      </ul>
    
  </nav>