{% extends 'layout.html' %}
{% block title %}Pesquisa não encontrada{% endblock %}
{% block content %}

<main>
    <div class="container"> 
        <div class="row justify-content-center"> 
            <div class="col-xs-12 col-md-5 bottom-row mx-auto">
                <h1 align='center'>Pesquisa não encontrada!</h1>
                <p align="center">Não foram encontrados resultados para a sua pesquisa. Por favor, tente novamente com termos diferentes.</p>
                <br><br>
            </div>
        </div>
    </div>
</main>

{% endblock %}
