{% extends "layout.html" %}

{% block title %}SOBRE{% endblock %}

{% block content %}

{% load static %}

<section class="container">
<div class="container-fluid">
    <h1 class="text-color">Quem somos</h1>
    <h5>Squad Hedy Lamarr</h5>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_Amanda.jpg">
            <h5 class="text-color">Amanda</h5>
            <p>Apaixonada por programação, exploradora de desenvolvimento web, focada em JavaScript, e amo gatos.</p>
            <p>Me siga no meu <a href="https://github.com/Agdakelda">Github</a> e <a href="https://www.linkedin.com/in/amanda-dias-a-ferreira/">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_gabriella.png">
            <h5 class="text-color">Gabriella</h5>
            <p>Long-life learner, sempre por dentro do mundo tech e cinéfila nas horas vagas.</p>
            <p>Me siga no meu <a href="https://github.com/GabriellaMansur">Github</a> e <a href="www.linkedin.com/in/gabriella-m-mansur-mesquita">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_Jhenyffer.jpg">
            <h5 class="text-color">Jhenyffer Oliveira</h5>
            <p>Iniciante em Tech, gosto de cerveja artesanal, jogos de tabuleiro e literatura.</p>
            <p>Me siga no meu <a href="https://github.com/JhenyfferOliveira">Github</a> e <a href="https://www.linkedin.com/in/jhenyfferoliveira/">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_lais.jpg" alt="foto mulher branca, de óculos, cabelos escuros">
            <h5 class="text-color">Laís Zahran</h5>
            <p>Apaixonada por tecnologia, livros e chocolate.</p>
            <p>Me siga no meu <a href="https://github.com/laisrz">Github</a> e <a href="https://www.linkedin.com/in/laisrz">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_mariana.jpg" alt="foto mulher branca, de óculos, cabelos claros">
            <h5 class="text-color">Mariana Amaral</h5>
            <p>Adoro aprender novas tecnlogias e estar atualizada com o mundo da TI.</p>
            <p>Me siga no meu <a href="https://github.com/mariana1008">Github</a>!</p>
        </div>
    </div>
    <h5>Squad Margaret Hamilton</h5>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_andreia.jpg" alt="foto mulher branca com um cachorro">
            <h5 class="text-color">Andréia Ferreira</h5>
            <p>Apaixonada por tecnologia, jogos, biologia e livros.</p>
            <p>Me siga no meu <a href="https://github.com/andreiamferreira">Github</a> e <a href="https://www.linkedin.com/in/andreiamferreira/">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_Lary.jpg" alt="foto mulher preta cabelo black">
            <h5 class="text-color">Laryssa Peçanha</h5>
            <p>Apaixonada por tecnologia, futebol, livros e séries <3 </p>
            <p>Me siga no meu <a href="https://github.com/laryscampark">Github</a> e <a href="https://www.linkedin.com/in/laryssape%C3%A7anha/">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_marcella.jpeg" alt="foto mulher branca e de cabelos escuros">
            <h5 class="text-color">Marcella Amazonas</h5>
            <p>Exploradora do mundo da tecnologia e seus desafios.</p>
            <p>Me siga no meu <a href="https://github.com/marcellaamazonas">Github</a> e <a href="https://www.linkedin.com/in/marcellaamazonas/">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_Priscila.png">
            <h5 class="text-color">Priscila</h5>
            <p>Mãe, aprendiz da vida e apaixonada pela área Tech!</p>
            <p>Me siga no meu <a href="https://github.com/PuriNakayama">Github</a> e <a href="https://www.linkedin.com/in/priscila-nakayama/">Linkedin</a>!</p>
        </div>
    </div>
</div>
</section>

{% endblock %}