{% extends "layout.html" %}

{% block title %}SOBRE{% endblock %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 class="text-color">O Projeto</h1>
            <p class="text-color">Bem-vindas ao nosso portal de notícias, desenvolvido pelas squads Hedy Lamarr e Margaret Hamilton, formadas durante o Bootcamp Python e Django da Womakers Code. Comprometidas em impulsionar o protagonismo feminino na tecnologia, este projeto é uma demonstração do conhecimento adquirido no bootcamp aliado ao desejo de tornar o mundo da tecnologia mais inclusivo e diversificado.</p>
            <p class="text-color">Neste portal, você encontrará uma variedade de notícias que abrangem temas como política, economia, tecnologia, meio ambiente, cultura, esportes e bem-estar, sempre destacando as conquistas e desafios das mulheres em cada área. Nosso objetivo, portanto, vai além da entrega de notícias. Buscamos inspirar mulheres por meio da informação e do conhecimento.</p>
            <p class="text-color">Utilizamos tecnologias como Django e SQLite, para garantir uma experiência de usuário fluida e interativa. Além disso, adotamos o framework Bootstrap para um design responsivo e moderno, que se adapta perfeitamente a diferentes dispositivos.</p>
            <p class="text-color">Agradecemos por se juntar a nós nessa jornada. Explore nosso portal, compartilhe suas ideias e histórias e participe conosco na celebração do poder feminino na tecnologia e em todas as áreas da vida!</p>
            <p class="text-color">Equipe do Portal de Notícias</p>
        </div>
    </div>
</div>


{% endblock %}